---
interface Props {
    project: {
        id: number;
        title: string;
        description: string;
        sourceCode: string;
        liveDemo: string;
        featured?: boolean;
        technologies: string[];
    };
}

const { project } = Astro.props;
---

<div class="card-project overflow-hidden">
    <div class="mb-4 flex justify-between items-centers w-full">
        <h3 class="project-title text-2xl font-bold italic varela-font">
            {project.title}
        </h3>
        <span class="font-normal whitespace-nowrap">
            {
                project?.technologies?.map((tech) => (
                    <img
                        src={`images/${tech}.svg`}
                        alt={tech}
                        class="w-8 h-8 object-contain inline-block mx-1"
                        loading="eager"
                    />
                ))
            }
        </span>
    </div>

    <p
        class="project-description text-base font-semibold italic mb-6 text-gray-200 varela-font"
    >
        {project.description}
    </p>
    <div
        class="flex flex-wrap gap-4 w-full justify-between border-t border-[#3d3d3d] pt-4"
    >
        {
            project.sourceCode && (
                <a
                    href={project.sourceCode}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn-primary varela-font font-semibold"
                >
                    Source Code
                </a>
            )
        }
        {
            project.liveDemo && (
                <a
                    href={project.liveDemo}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="btn-primary varela-font font-semibold"
                >
                    Live Demo
                </a>
            )
        }
    </div>
</div>
